/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{ 
    content: "";
    display: table; 
    clear: both;
}

/* GENERAL RULES */

html{
    font-family: 'Fredoka', Arial, sans-serif;
    background-color: white;
}

.container{
    margin: 0 auto;
    width: 70%;
    min-width: 1200px;
    min-height: 200px;
    background-color: brown; 
}

/* HEADER */

header{
    min-height: 80px;
}

header h1{
    color: #e53170;
    padding: 30px;
    text-align: center;
    /* text-shadow: 2px 2px 2px #000000;   */
}

/* MAIN */
p{
    text-align: center;
    margin-bottom: 30px;
}


.team-card{
    width: calc(100% / 3 - 40px);
    height: 130px;
    background-color: blueviolet;
    border: 1px solid black;
    float: left;
    margin: 20px;
}

img{
    height: 130px;
}















/* 6fc8eb azzurro 0f0e17 scuro */