/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{ 
    content: "";
    display: table; 
    clear: both;
}

/* GENERAL RULES */

html{
    font-family: 'Fredoka', Arial, sans-serif;
    background-color: white;
}

.container{
    margin: 0 auto;
    width: 70%;
    min-width: 1200px;
    min-height: 200px;
    /* background-color: brown;  */
}

/* HEADER */

header{
    min-height: 80px;
}

header h1{
    color: #e53170;
    padding: 30px;
    text-align: center;
    /* text-shadow: 2px 2px 2px #000000;   */
}

/* MAIN */
main+p{
    text-align: center;
    margin-bottom: 30px;
}


.team-card{
    width: calc(100% / 3 - 40px);
    height: 130px;
    background-color: #0f0e17;
    float: left;
    margin: 20px;
    
}

img{
    height: 130px;
}

.card{
    box-shadow: 0 0 20px rgba(0, 0, 0 , 0.2);
    width: calc(100% / 3 - 40px);
    height: 130px;
    display: flex;
    margin-top: 50px;
    color: white;
    background-color: #0f0e17; 
}

.profile-main{
    padding-left: 20px;
    padding-top: 20px;
}

.profile-email{
    color: #6fc8eb;
}
















